body{
    background-color: darkseagreen;
    font-family: sans-serif;
    color: cornflowerblue;
}

.add{
    display: inline-block;
}

.sub{
    display: inline-block;
}

.mult{
    display: inline-block;
}

h3{
    color: bisque;
    
}

.calc{
    border-style:double;
    border-width: 5px;
}
